@font-face {
  font-family: gill-bold;
  src: url(../fonts/fonts/GillSans-Bold.ttf);
}
@font-face {
  font-family: gill-bi;
  src: url(../fonts/fonts/GillSans-BoldItalic.ttf);
}
@font-face {
  font-family: gill-italic;
  src: url(../fonts/fonts/GillSans-Italic.ttf);
}
@font-face {
  font-family: gill-light;
  src: url(../fonts/fonts/GillSans-Light.ttf);
}
@font-face {
  font-family: gill-li;
  src: url(../fonts/fonts/GillSans-LightItalic.ttf);
}
@font-face {
  font-family: gill-semib;
  src: url(../fonts/fonts/GillSans-SemiBold.ttf);
}
@font-face {
  font-family: gill-semibi;
  src: url(../fonts/fonts/GillSans-SemiBoldItalic.ttf);
}
@font-face {
  font-family: gill-ultrab;
  src: url(../fonts/fonts/GillSans-UltraBold.ttf);
}
@font-face {
  font-family: gill;
  src: url(../fonts/fonts/GillSans.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

.nav-white {
  height: 50px;
  max-width: 980px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 99;
  border-bottom: 2px solid #fff;
  font-family: gill;
  font-size: 15px;
}
.nav-white a {
  text-decoration: none;
  color: #fff;
}
.nav-white span {
  color: #79addc;
  margin: 0 20px;
}
.nav-white .logo {
  width: 92px;
  height: 42px;
}
.nav-white .menu img {
  display: none;
}
.nav-white .menu .links {
  min-width: 300px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav {
  height: 50px;
  max-width: 980px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 99;
  border-bottom: 2px solid #000;
  font-family: gill;
  font-size: 15px;
}
nav a {
  text-decoration: none;
  color: #000;
}
nav span {
  color: #79addc;
  margin: 0 20px;
}
nav .logo {
  width: 92px;
  height: 42px;
}
nav .menu img {
  display: none;
}
nav .menu .links {
  min-width: 300px;
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media all and (max-width: 800px) {
  .nav-white .menu img {
    display: block;
    width: 30px;
    margin-right: 20px;
  }
  .nav-white .menu .links {
    display: none;
  }
  nav .menu img {
    display: block;
    width: 30px;
    margin-right: 20px;
  }
  nav .menu .links {
    display: none;
  }
}
footer {
  height: 100px;
  background-color: #79addc;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: #ffffff;
  margin-top: 100px;
}
footer p {
  font-size: 12px;
  font-family: gill;
}
footer .socials {
  font-size: 22.46px;
}

.home {
  margin-top: -65px;
}
.home .hero {
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: bisque;
  background-image: linear-gradient(rgba(0, 0, 0, 0.404), rgba(0, 0, 0, 0.404)), url(../images/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}
.home .hero .callout {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}
.home .hero .callout h1 {
  font-family: gill-light;
  font-size: 60px;
  font-weight: 100;
}
.home .hero .callout p {
  width: 416px;
  font-family: gill-italic;
  font-size: 20px;
}
.home .hero .callout .read-more {
  width: 121.62px;
  height: 40.04px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #79addc;
  font-family: gill;
  font-size: 15px;
  text-transform: uppercase;
}
.home .specials {
  max-width: 818px;
  margin: -50px auto 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home .specials .box {
  height: 304px;
  width: 236px;
  background-color: coral;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}
.home .specials .box h2 {
  font-family: gill-light;
  font-weight: 100;
  font-size: 40px;
  text-transform: uppercase;
}
.home .specials .box p {
  font-family: gill-light;
  font-size: 25px;
}
.home .specials .box .learn-more {
  width: 133px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #79addc;
  border-radius: 20px;
  text-transform: uppercase;
  font-family: gill;
  margin-top: 57px;
}
.home .specials .img1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.342), rgba(0, 0, 0, 0.342)), url(../images/tour-01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.home .specials .img2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.342), rgba(0, 0, 0, 0.342)), url(../images/tour-02.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.home .specials .img3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.342), rgba(0, 0, 0, 0.342)), url(../images/tour-03.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.home .form-container {
  margin: 60px 20px 0px 20px;
}
.home .form-container .form {
  max-width: 818px;
  margin: 0 auto;
  min-height: 200px;
}
.home .form-container .form h2 {
  font-size: 60px;
  font-family: gill-light;
}
.home .form-container .form input {
  height: 58px;
  width: 100%;
  border: solid 1px;
  border-color: #79addc;
  padding-left: 20px;
  font-size: 18px;
}
.home .form-container .form input,
.home .form-container .form label {
  font-size: 18px;
  font-family: gill;
  margin-bottom: 20px;
}
.home .form-container .form .cal {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home .form-container .form .cal input {
  width: 698px;
}
.home .form-container .form .cal .cal-box {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 20px;
  bottom: 35px;
}
.home .form-container .form .info-container {
  display: flex;
  justify-content: space-between;
}
.home .form-container .form .info-container .left-info {
  width: 344px;
}
.home .form-container .form .info-container .right-info {
  width: 453px;
}
.home .form-container .form .info-container2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.home .form-container .form .info-container2 input {
  width: 103px;
}
.home .form-container .form .info-container2 img {
  position: relative;
  width: 20px;
  right: 70px;
  bottom: 10px;
}
.home .form-container .form .message input {
  height: 192px;
}
.home .form-container .form .button {
  max-width: 813px;
  height: 60.59px;
  background-color: #79addc;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 37.8px;
}
.home .form-container .form .button span {
  font-size: 15px;
  font-family: gill;
  color: #ffffff;
  text-transform: uppercase;
}

@media all and (max-width: 800px) {
  .home .specials {
    flex-direction: column;
  }
  .home .specials .box {
    margin-bottom: 30px;
  }
  .home .form-container .form label {
    margin-right: 10px;
  }
  .home .form-container .form .info-container {
    flex-direction: column;
  }
  .home .form-container .form .info-container .left-info {
    max-width: 818px;
    width: auto;
  }
  .home .form-container .form .info-container .right-info {
    max-width: 818px;
    width: auto;
  }
  .home .form-container .form .info-container2 {
    flex-direction: column;
  }
  .home .form-container .form .info-container2 img {
    left: 25px;
    bottom: 55px;
  }
}
.about-container {
  margin: 0 20px 0 20px;
}
.about-container .about {
  max-width: 980px;
  min-height: 100px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-top: 90.5px;
  margin-bottom: 179px;
}
.about-container .about p {
  font-family: gill;
  font-size: 16px;
}
.about-container .about h1 {
  font-family: gill-light;
  font-weight: 900;
  font-size: 60px;
  width: 150px;
  border-bottom: 2px solid black;
  margin-bottom: 36.5px;
}
.about-container .about h2 {
  font-family: gill-light;
  font-weight: 200;
  font-size: 40px;
  margin-top: 95px;
}
.about-container .about .h2-line {
  width: 230px;
  border-bottom: 2px solid black;
  margin-top: -12px;
}
.about-container .about .container {
  max-width: 722px;
  min-height: 150px;
  margin-top: 37px;
  display: flex;
}
.about-container .about .container .image-holder {
  min-width: 260px;
  height: 150px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-right: 21px;
}
.about-container .about .container .client1 {
  background-image: url(../images/about-client-01.jpg);
}
.about-container .about .container .client2 {
  background-image: url(../images/about-client-02.jpg);
}
.about-container .about .container p {
  font-family: gill-italic;
  font-size: 16px;
  width: 385px;
}
.about-container .about .container h3 {
  top: 50px;
  text-align: right;
  margin: 52px -55px 0 0;
  font-family: gill-light;
  color: #79addc;
  font-size: 20px;
}

@media all and (max-width: 800px) {
  .about-container .about .container {
    flex-direction: column;
    align-items: center;
  }
  .about-container .about .container .image-holder {
    margin-bottom: 20px;
  }
  .about-container .about .container h3 {
    margin: 52px 0px 0 0;
  }
}
.tours {
  margin-top: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.tours .hero {
  min-width: 77.6%;
  height: 200px;
  margin-bottom: 48px;
  background-image: url(../images/tours-header.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
}
.tours .hero h1 {
  color: white;
  font-family: gill-light;
  font-size: 60px;
  font-weight: 100;
  margin-top: 50px;
}
.tours .tours-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  max-width: 980px;
  min-height: 1022px;
}
.tours .tours-container .box {
  width: 236px;
  height: 304px;
  background-color: cadetblue;
  margin: 0 0 55px 55px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.tours .tours-container .box h2 {
  font-family: gill-light;
  font-weight: 100;
  font-size: 40px;
  text-transform: uppercase;
}
.tours .tours-container .box p {
  font-family: gill-light;
  font-size: 25px;
}
.tours .tours-container .box .learn-more {
  width: 133px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #79addc;
  border-radius: 20px;
  text-transform: uppercase;
  font-family: gill;
  margin-top: 57px;
}
.tours .tours-container .box .learn-more a {
  text-decoration: none;
  color: white;
}
.tours .tours-container .tour1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.404), rgba(0, 0, 0, 0.404)), url(../images/tour-01.jpg);
}
.tours .tours-container .tour2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.404), rgba(0, 0, 0, 0.404)), url(../images/tour-02.jpg);
}
.tours .tours-container .tour3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.404), rgba(0, 0, 0, 0.404)), url(../images/tour-03.jpg);
}
.tours .tours-container .tour4 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.404), rgba(0, 0, 0, 0.404)), url(../images/tour-04.jpg);
}
.tours .tours-container .tour5 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.404), rgba(0, 0, 0, 0.404)), url(../images/tour-05.jpg);
}
.tours .tours-container .tour6 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.404), rgba(0, 0, 0, 0.404)), url(../images/tour-06.jpg);
}
.tours .tours-container .tour7 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.404), rgba(0, 0, 0, 0.404)), url(../images/tour-07.jpg);
}
.tours .tours-container .tour8 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.404), rgba(0, 0, 0, 0.404)), url(../images/tour-08.jpg);
}
.tours .tours-container .tour9 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.404), rgba(0, 0, 0, 0.404)), url(../images/tour-09.jpg);
}

/*# sourceMappingURL=styles.css.map */
