.nav-white {
  height: 50px;
  max-width: $content-width;
  margin: 0 auto;
  // background-color: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 99;
  border-bottom: 2px solid #fff;
  font-family: gill;
  font-size: 15px;

  a {
    text-decoration: none;
    color: #fff;
  }

  span {
    color: $site-blue;
    margin: 0 20px;
  }

  .logo {
    width: 92px;
    height: 42px;
    // background-color: aqua;
  }

  .menu {
    img {
      display: none;
    }

    .links {
      min-width: 300px;
      height: 42px;
      // background-color: aqua;
      display: flex;
      align-items: center;
      justify-content: space-between;
      // margin-right: 20px;
    }
  }
}

nav {
  height: 50px;
  max-width: $content-width;
  margin: 0 auto;
  // background-color: #000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  z-index: 99;
  border-bottom: 2px solid #000;
  font-family: gill;
  font-size: 15px;

  a {
    text-decoration: none;
    color: #000;
  }

  span {
    color: $site-blue;
    margin: 0 20px;
  }

  .logo {
    width: 92px;
    height: 42px;
    // background-color: aqua;
  }

  .menu {
    img {
      display: none;
    }

    .links {
      min-width: 300px;
      height: 42px;
      // background-color: aqua;
      display: flex;
      align-items: center;
      justify-content: space-between;
      // margin-right: 20px;
    }
  }
}

// 710px max-width
@media all and (max-width: 800px) {
  .nav-white {
    .menu {
      img {
        display: block;
        width: 30px;
        margin-right: 20px;
      }
      .links {
        display: none;
      }
    }
  }
  nav {
    .menu {
      img {
        display: block;
        width: 30px;
        margin-right: 20px;
      }
      .links {
        display: none;
      }
    }
  }
}
